<h2><%= @food.name %></h2>

<% if false %>
<form action="/foods/<%= @food.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="food[course]" value="<%= @food.course %>">
	<input type="text" name="food[name]" value="<%= @food.name %>">
	<input type="text" name="food[price]" value="<%= @food.price %>">
	<input type="text" name="food[any_allergens]" value="<%= @food.any_allergens %>">
	<input type="submit">
</form>
<% end %>

<%= form_open(@food, method: 'patch') %>
<%= erb :'foods/_form', :locals => {food: @food} %>