<h1>GRUB</h1>
<h3><a href="/foods/new">Add New Item</a></h3>

<table cellpadding="10">
	<thead>
		<th>ID</th>
		<th>Course</th>
		<th>Item</th>
		<th>Price</th>
		<th>Allergens?</th>
	</thead>
	<% @foods.each do |food_item| %>
	<body>
		<tr>
			<td><%=food_item.id %></td>
			<td><%= food_item.course %></td>
			<td><a href="/foods/<%= food_item.id %>/edit"><%= food_item.name %></a></td>
			<td>$<%= food_item.price %></td>
			<td><%= food_item.any_allergens %></td>
		</tr>
	</body>
	<% end %>	
</table>