<h1>Menu</h1>
<h3><a href="/foods/new">Add New Item</a></h3>

<table>
	<th>ID</th>
	<th>Course</th>
	<th>Item</th>
	<th>Price</th>
	<th>Allergens?</th>
	<body>
		<% @foods.each do |food|
			<td><%= food.id %></td>
			<td><%= food.course %></td>
			<td><%= food.name %></td>
			<td><%= food.price %></td>
			<td><%= food.any_allergens %></td>
		<% end %>	
	</body>
</table>