<h4><a href="/parties">Back to Parties</a></h4>

<h1>Party</h1>

<h2>Table No: <%= @party.table_num %>, Number of Guests: <%= @party.guests %>, Payment Complete: <%= @party.payment_complete %></h2>

<form action="/parties/<%= @party.id %>/receipt" method="get">
  <input type="submit" value="View Receipt">
</form>

<p>Party Order:</p>

<table cellpadding="5">
<% @party.orders.each do |order| %>
	<tr>
    <td><%= order.food.name %></td>
    <td>$<%= order.food.price %></td>
    <td>
      <form action="/orders/<%= order.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="party_id" value="<%= @party.id %>">
      <input type="submit" value="Remove Item">
    </form>
  </td>
  </tr>
<% end %>
</table>

<form action="/parties/<%= @party.id %>/checkout" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Payment Confirmed">
</form>

<p>Click Menu Items Below to Create Party Order:</p>

<% @foods.each do |food| %>
	<form action="/orders" method="post">
	  <input type="hidden" name="party_id" value="<%= @party.id %>">
	  <input type="hidden" name="food_id" value="<%= food.id %>">
	  <input type="submit" value="<%= food.name %>">
	</form>
<% end %>

<ul>
	<li>
		<a href="/parties/<%= @party.id %>/edit"><button type="button">Edit Party</button></a>
	</li>
	<li>
		<form action="/parties/<%= @party.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete Party">
		</form>
	</li>
</ul>