<h1>These Mates</h1>

<h2>Table No: <%= @party.table_num %> &nbsp;&nbsp;&nbsp;Number of Guests: <%= @party.guests %> &nbsp;&nbsp;&nbsp;Payment Complete: <%= @party.display_paid %></h2>

<% if @error %>
  <p><%= @error.message %></p>
<% end %>

<form action="/parties/<%= @party.id %>/receipt" method="get">
  <input type="submit" value="View Receipt">
</form>

<p>Party Order:</p>

<table cellpadding="5">
<% @party.orders.each do |order| %>
	<tr>
    <td><%= order.food.name %></td>
    <td>$<%= order.food.price %></td>
    <td>
      <form action="/orders/<%= order.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="party_id" value="<%= @party.id %>">
      <input type="submit" value="Remove Item">
    </form>
  </td>
  </tr>
<% end %>
</table>

<form action="/parties/<%= @party.id %>/checkout" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Payment Confirmed">
</form>

<p>Click to Add Grub to Party Order:</p>

<% @foods.each do |food| %>
	<form action="/orders" method="post">
	  <input type="hidden" name="party_id" value="<%= @party.id %>">
	  <input type="hidden" name="food_id" value="<%= food.id %>">
	  <input type="submit" value="<%= food.name %>">
	</form>
<% end %>

<ul>
	<li id="party_edit">
		<a class="test" href="/parties/<%= @party.id %>/edit">Edit Party</a>
	</li><br><br>
	<li>
		<form action="/parties/<%= @party.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete Party">
		</form>
	</li>
</ul>